body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
  color: #fff;
  margin: 0;
}

.music-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
}

.container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
  opacity: 0.6; /* Initial opacity */
  border: 2px solid #fff; /* Add white border */
}

.container:hover {
  opacity: 1; /* Full opacity on hover */
}

.container h2 {
  color: #fff;
  font-size: 32px;
}

.container.pop h2 {
  color: #000; /* Change text color for the Light theme */
}

.pop {
  background-image: url('pop.jpg'); /* Replace with your dark theme image */
}

.hip-hop {
  background-image: url('hip-hop.jpg'); /* Replace with your retro theme image */
}

.jazz {
  background-image: url('jazz.jpg'); /* Replace with your punk theme image */
}

.indie {
  background-image: url('indie.jpg'); /* Replace with your light theme image */
}

/* Add more styles for other themes if needed */
